.header {
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  padding: 50px 50px 19px 50px;
  z-index: 1000;
  transition: left 0.3s ease;
}

.header.sidenav-open {
  left: 20rem
}

.header.sidenav-collapsed {
  left: 3.6rem; /* collapsed width (adjust if yours is different) */
}

/* Override Bootstrap's container-fluid padding */
.header .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.header-left {
  flex: 1;
}

.header-titles h1 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0%;
color: #05004E;
}

.header-titles p {
  margin: 0;
  font-size: 1.143rem;
  /* 16px */
  color: #7C8DB5;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-button {
  background: none;
  border: none;
  color: var(--color-primary);
  font-size: 20px;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-dropdown {
  background: none !important;
  border: none !important;
  color: var(--color-primary) !important;
  display: flex !important;
  align-items: center !important;
  gap: 0.5rem;
  padding: 0 !important;
  height: auto !important;
}

.dropdown-arrow {
  font-size: 1rem;
  /* 14px */
  margin-left: 0.286rem;
  /* 4px */
}

.user-dropdown::after {
  display: none !important;
}

.avatar {
  font-size: 20px;
  display: flex;
  align-items: center;
  color: var(--color-primary);
}

.toggle-sidenav-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 20px;
}